@import "~antd/dist/antd.css";

#root,
.app {
  height: 100%;
}

.sider-brand {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}